* { box-sizing: border-box; }

.about-picture{
    height: 90vh;
    background-image: url("./group-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.about-content-container{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #EFF0F4;
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;

}
.about-header{
    display: flex;
    justify-content: center;
    display: inline-block;
    text-align: center;
    background-color: white;
    font-size: 35px;

}
.about-content-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.about-content{
    width: 75%;
}
.linkedin-links{
  width: 100%;
  height: 40vh;
  background-color: #EFF0F4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.linkedin-links a {
  text-decoration: none;
  color: #A0A3A5;
  font-family: AtlasGrotesk, sans-serif;
}

.chase-link{
  height: 25vh;
  width: 205px;
  background-color: white;
  text-align: center;
  font-weight: bold;
}

.taylor-link{
  height: 25vh;
  width: 205px;
  background-color: white;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

.brian-link{
  height: 25vh;
  width: 205px;
  background-color: white;
  text-align: center;
  font-weight: bold;
}
.david-link{
  height: 25vh;
  width: 205px;
  background-color: white;
  text-align: center;
  font-weight: bold;
}
.chase-photo{
  width: 100%;
  height: 100%;

}
.david-photo{
  width: 100%;
  height: 100%;
}
.brian-photo{
  width: 100%;
  height: 100%;
}
.taylor-photo{
  width: 100%;
  height: 100%;
}
