.trail-details-contain {
  padding-top: 20vh;
  text-align: center;
  background-color: #FFFFFF;
}

.trail-photo {
  width: 100%;
  height: auto;
  margin-top: -75vh;
  z-index: -1000;
  margin-bottom: 5vh;

}

.trail-title {
  padding-top: 10vh;
  font-size: 12vh;
  justify-content: flex-start;
  color: white;
  opacity: 0.8;
  font-family: Impact, sans-serif;
}

.trail-location {
  font-size: 7vh;
  justify-content: flex-start;
  color: white;
  opacity: 0.8;
  font-family: AtlasGrotesk, sans-serif;
  font-family: Impact, sans-serif;
}

/* Additional Info (Distance and Weather) */

.trail-additional-info-contain {
  display: flex;
  justify-content: space-around;
  margin-top: 50%;
  margin-bottom: 10vh;
  color: #A0A3A5;
  justify-content: space-around;
}

.trail-additional-info-contain h3 span {
  font-size: 11px;
}

.trail-additional-info-contain h1 {
  color: #FF9031;
}

/* Description and Directions */

.trail-name-h2 {
  text-align: left;
  margin-left: 12%;
  color: #A0A3A5;
  text-transform: uppercase;
  font-family: AtlasGrotesk, sans-serif;
  font-weight: 400;
}

.trail-description {
  width: 75%;
  text-align: left;
  margin-left: 12%;
  color: #A0A3A5;
  font-family: AtlasGrotesk, sans-serif;
  font-weight: 300;
}

.trail-directions-h2 {
  text-align: left;
  margin-left: 12%;
  color: #A0A3A5;
  text-transform: uppercase;
  font-family: AtlasGrotesk, sans-serif;
  font-weight: 400;
}

.trail-directions {
  width: 75%;
  text-align: left;
  margin-left: 12%;
  color: #A0A3A5;
  font-family: AtlasGrotesk, sans-serif;
  font-weight: 300;
}

/* YouTube Videos */

.video-detail {
  width: 100%;
  height: auto;
  margin-bottom: 3vh;
  text-align: center;
  border-top: 1px solid #ddd;
  padding-top: 8vh;
  margin-top: 8vh;
}

.video-detail iframe {
  min-width: 59vw;
  min-height: 60vh;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 3vh;
}

.vid-title-contain {
  display: flex;
  width: 100%;
  color: #A0A3A5;
}

.selected-video-title {
  width: 50%;
  justify-content: center;
  margin-left: 25%
}

.list-group {
  width: 100%;
  display: flex;
}

.video-list-items {
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  width: 50vw;
  height: auto;
  padding-bottom: 3vh;
  color: #A0A3A5;
  font-size: 16px;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  font-family: AtlasGrotesk, sans-serif;
  font-weight: 300;
  list-style-type: none;
}

.video-list-items img {
  width: 15vw;
  height: 15vh;
  margin-bottom: 3vh;
  margin-top: 2vh;
  margin-left: 11%;
  text-align: center;
}

.video-list-items:hover {
  background-color: white;
}
